@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Aerokids';
  font-style: normal;
  font-weight: normal;
  src: url('packages/frontend/web/public/Aerokids.otf') format('opentype');
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

* {
  @apply font-Fredoka;
}

@theme {
  --color-primary-blue: #d2e7f5;
  --color-secondary-blue: #0c5985;
  --color-primary-gray: #bfbfc5;
  --color-secondary-gray: #e5e5e5;
  --color-tertiary-gray: #d9d9d9;

  --color-fairy-blue: #68c9f4;
  --color-fairy-green: #92d635;
  --color-winged-red: #f75a61;
  --color-winged-yellow: #ebe364;
  --color-mythologic-beige: #ebc682;
  --color-shadow-purple: #615269;
  --color-shadow-green: #3f6f35;

  --font-Fredoka: 'Fredoka', sans-serif;
  --font-Aerokids: 'Aerokids', sans-serif;
}
